* { font-size: 40px; text-align:center; margin:auto;}
body { background-color: lightblue; } 
.nav { background-color: black; } 
.nav a { color: white; text-decoration:none;margin:5%;}
h2 { border:solid; width:70% ' padding:2%;border-radius:30px;}

